# dist/
node_modules/
.npmrc
tsconfig.tsbuildinfo

# /*/.vscode/
/*/.reports/
/*/build/
/*/dist/
/*/**/assets/bundes/
/*/**/assets/codicons/
/*/**/assets/fontawesome-free/
/*/**/assets/icofont/
/*/**/assets/kreon/
/*/**/assets/material-icons/
/*/**/assets/material-symbols/
/*/**/assets/noto-sans/
/*/**/assets/roboto/
/*/**/assets/tabler-icons/
/*/**/assets/kolibri.ico
/*/**/assets/kolibri.png
/*/**/assets/kolibri.svg
/*/public/assets/logo.*
# /*/.editorconfig
# /*/.eslintignore
# /*/.gitignore
# /*/.npmrc
# /*/.prettierignore
# /*/.prettierrc.json
