.reports/
.zcode/
build/
dist/
node_modules/
tsconfig.tsbuildinfo

/**/.npmrc
/**/package-lock.json
/**/assets/codicons/
/**/assets/fontawesome-free/
/**/assets/kolicons/
/**/assets/variants/
/**/assets/kolibri.ico
/**/assets/kolibri.png
/**/assets/kolibri.svg
