@font-face {font-family: "svg-2font-icons";
  src: url('svg-2font-icons.eot?t=1709090715690'); /* IE9*/
  src: url('svg-2font-icons.eot?t=1709090715690#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svg-2font-icons.woff2?t=1709090715690") format("woff2"),
  url("svg-2font-icons.woff?t=1709090715690") format("woff"),
  url('svg-2font-icons.ttf?t=1709090715690') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svg-2font-icons.svg?t=1709090715690#svg-2font-icons') format('svg'); /* iOS 4.1- */
}

[class^="svg-2font-"], [class*=" svg-2font-"] {
  font-family: 'svg-2font-icons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-2font-kolibri:before { content: "\ea01"; }

$svg-2font-kolibri: "\ea01";

