@font-face {
  font-family: "kolicons";
  src: url('kolicons.eot?t=1767996739469'); /* IE9*/
  src: url('kolicons.eot?t=1767996739469#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("kolicons.woff2?t=1767996739469") format("woff2"),
  url("kolicons.woff?t=1767996739469") format("woff"),
  url('kolicons.ttf?t=1767996739469') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('kolicons.svg?t=1767996739469#kolicons') format('svg'); /* iOS 4.1- */
}

[class^="kolicon-"], [class*=" kolicon-"] {
  font-family: 'kolicons';
  font-size: inherit;
  font-style:normal;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kolicon-alert-error::before { content: "\ea01"; }
.kolicon-alert-info::before { content: "\ea02"; }
.kolicon-alert-success::before { content: "\ea03"; }
.kolicon-alert-warning::before { content: "\ea04"; }
.kolicon-check::before { content: "\ea05"; }
.kolicon-chevron-double-left::before { content: "\ea06"; }
.kolicon-chevron-double-right::before { content: "\ea07"; }
.kolicon-chevron-down::before { content: "\ea08"; }
.kolicon-chevron-left::before { content: "\ea09"; }
.kolicon-chevron-right::before { content: "\ea0a"; }
.kolicon-chevron-up::before { content: "\ea0b"; }
.kolicon-cogwheel::before { content: "\ea0c"; }
.kolicon-cross::before { content: "\ea0d"; }
.kolicon-eye-closed::before { content: "\ea0e"; }
.kolicon-eye::before { content: "\ea0f"; }
.kolicon-house::before { content: "\ea10"; }
.kolicon-kolibri::before { content: "\ea11"; }
.kolicon-link-external::before { content: "\ea12"; }
.kolicon-link::before { content: "\ea13"; }
.kolicon-minus::before { content: "\ea14"; }
.kolicon-plus::before { content: "\ea15"; }
.kolicon-settings::before { content: "\ea16"; }
.kolicon-sort-asc::before { content: "\ea17"; }
.kolicon-sort-desc::before { content: "\ea18"; }
.kolicon-sort-neutral::before { content: "\ea19"; }
.kolicon-version::before { content: "\ea1a"; }
