<div class="container mx-auto my-10 max-w-800px">
	<header class="text-center">
		<div class="grid grid-cols-2 items-center">
			<div>
				<kol-kolibri class="block m-auto w-40" _labeled="false"></kol-kolibri>
			</div>
			<div>
				<img class="block m-auto w-25" style="width: 5.25rem" src="{{framework}}" alt="Logo vom Angular Framework" />
			</div>
		</div>
		<strong class="text-2xl">Angular + KoliBri with Webpack | Public UI</strong>
	</header>
	<main class="grid md:grid-cols-2 gap-6 p-12">
		<kol-alert _type="success" _label="Dokumentation" _variant="card" _level="{2}">
			<kol-link _href="https://public-ui.github.io/" _icons="fa-sharp fa-solid fa-book" _label="Dokumentation öffnen" _target="_blank"> </kol-link>
		</kol-alert>
		<kol-alert _type="info" _label="Theming" _variant="card" _level="{2}">
			<kol-link
				_href="https://public-ui.github.io/docs/concepts/styling/designer"
				_icons="fa-solid fa-palette"
				_label="KoliBri-Designer öffnen"
				_target="_blank"
			>
			</kol-link>
		</kol-alert>
		<kol-alert _type="warning" _label="Mitwirken" _variant="card" _level="{2}">
			<kol-link _href="https://github.com/public-ui/kolibri/" _icons="fa-brands fa-github" _label="GitHub öffnen" _target="_blank"> </kol-link>
		</kol-alert>
		<kol-alert _type="error" _label="Kontakt" _variant="card" _level="{2}">
			<kol-link _href="mailto:kolibri@itzbund.de" _icons="fa-solid fa-envelope" _label="E-Mail schreiben" _target="_blank"> </kol-link>
		</kol-alert>
	</main>
</div>
